<div class="mainContainer">
  <div class="container1">
    <!-- <div class="section"> -->
    <p class="display-4">Shopping Cart</p>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ad, eaque
      sapiente culpa molestias laborum eius non, assumenda natus ratione
      delectus hic tempore laudantium? Amet nisi minima nam harum voluptatum.
      Optio, corrupti saepe itaque excepturi modi, unde ipsum magnam iure nihil
      id nisi ad, totam incidunt dolore esse velit delectus? Incidunt possimus
      atque recusandae, blanditiis praesentium assumenda nesciunt autem
      architecto.
    </p>
    <button class="btn btn-outline-primary">Explore More!!!</button>
    <!-- </div> -->
  </div>
</div>
