<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-3">
      <ul class="list-unstyled">
        <li class="mb-4">
          <a routerLink="electronics" class="btn btn-danger">Electronics</a>
        </li>
        <li class="mb-4">
          <a routerLink="jewellary" class="btn btn-danger">Jewellary</a>
        </li>
        <li class="mb-4">
          <a routerLink="mensClothing" class="btn btn-danger">Men's Clothing</a>
        </li>
        <li class="mb-4">
          <a routerLink="" class="btn btn-danger">Women's Clothing</a>
        </li>
      </ul>
    </div>

    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
