<!-- <app-header></app-header>
<app-main></app-main>

<app-footer></app-footer> -->
<app-nav></app-nav>
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-twoway-db></app-twoway-db> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ngforfetch></app-ngforfetch> -->
<!-- <app-angularmaterial></app-angularmaterial> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ngswitchproduct></app-ngswitchproduct> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-user1></app-user1> -->
<!-- <app-parent-cc></app-parent-cc> -->
<router-outlet> </router-outlet>
<!-- <app-lifecyclehooks></app-lifecyclehooks> -->
